<div class="row">
    <div class="col-md-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1><a [routerLink]="['/recipes', recipe.id]">{{ recipe.name }}</a></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group" appDropdown>
            <button type="button"
            class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Manage Recipe
            </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a href="/recipes">To Shopping List</a></li>
            <li><a href="/recipes">Edit Recipe</a></li>
            <li><a href="/recipes">Delete Recipe</a></li>

        </ul>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            {{ recipe.description }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Ingredients</p>
        </div>
    </div>
