<div class="row">
    <div class="col-md-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1><a [routerLink]="['/recipes', recipe.id]">{{ recipe.name }}</a></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group" appDropdown>
            <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recipe
              </button> -->
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
            <a (click)="onAddToShoppingList()" style= "cursor: pointer; color:darkolivegreen; text-decoration: underline; margin-right: 10px;; ">To Shopping List</a>
            <a href="/recipes">Edit Recipe</a>
            <a href="/recipes">Delete Recipe</a>
        <!-- </div> -->
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            {{ recipe.description }}
            <br> 
            <button class="btn btn-info" (click)="onLoadShoppingList()">Check the Shopping List</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li 
                class="list-group-item"
                *ngFor = 'let ingredients of recipe.ingredients'>
                {{ ingredients.name }} - {{ ingredients.amount }}
                </li>

            </ul>
        </div>
    </div> <br> <br>


    <div class="row">
        <div class="col-md-12">
            <h2>Comments on the recipe</h2><br>
            <app-recipe-comment></app-recipe-comment>
            <hr>
            <li 
            class="list-group-item"
            *ngFor = 'let user of users'>
            <p>User {{ user.name }} likes this recipe.</p>
<p>User {{ user.name }} rated with {{ user.rating }} stars this recipe</p>
            <!-- {{ user.name }} - {{ user.rating }} -->
            </li>
            
         </div>
    </div>
