<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success mr-3" (click)="onAddItem()">Add</button>
                    <button type="button" class="btn btn-danger mr-3">Delete</button>
                    <button type="button" class="btn btn-primary mr-3">Clear</button>

                    <h4 appBasicHighligh>Test unit for created Directive</h4>
                    <h4 appBetterHighlight defaultColor="lightcoral" [highlightColor]="'olivedrab'">Test this unit with appBetterHighlight Directive! </h4>
                                            <!-- noSquareBrackets = "string" or [squareBrackets] = "'string'" -->
                    <div [ngSwitch]="value">
                    <p *ngSwitchCase="5">Value is 5</p>
                    <p *ngSwitchCase="10">Value is 10</p>
                    <p *ngSwitchCase="100">Value is 100</p>
                    <p *ngSwitchDefault>Value is default</p>
                    </div>                       
                </div>
            </div>
        </form>
    </div>
</div>